body 
{ 
	animation: fadeInAnimation ease 6s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 
.imageClass
{
  width:100px;
}
#aboutMe
{
  margin:50px 0px 50px 0px;
}
#aboutMe div a {
  text-decoration:none;
  width:150px;
  padding: 11px 16px;
  text-align:center;
  float:left;
  background: #ff3232;
  /* Old browsers */
  background: linear-gradient(to left, white 50%, #e6ffff 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  margin-left:10px;
  transition:all 2s ease;
  border-radius:8px;
  border: 2px solid #00e6e6;
  margin-right:20px;
}
#aboutMe div a:hover {
    background-position:left bottom;
}
#aboutMe div a {
    color:#00e6e6;
}
#devContent .col-lg-3
{
	margin:auto;
	border:2px solid black;
	background-color:grey;
}
.devContent
{
	border:2px solid black;
	border-radius:17px;
}
